<nav class="navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <a href="#landing">
      <i class="navbar-wagon-logo fa fa-rocket fa-2x"></i>
    </a>
    <a href="#landing" class="navbar-wagon-item navbar-wagon-link">Accueil</a>
    <a href="#BeBot" class="navbar-wagon-item navbar-wagon-link">Robots Industries</a>
    <a href="#work" class="navbar-wagon-item navbar-wagon-link">Comment ça marche?</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">Donnez votre avis</a>
    <a href="#callToAct" class="navbar-wagon-item navbar-wagon-link">Rejoignez-nous</a>
    <a href="#footer" class="navbar-wagon-item navbar-wagon-link">Blog</a>
  </div>
</nav>


<div id="landing" class="banner text-center" style="background-image: url('/assets/robot.png'); height:800px; padding:239px">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1 id="title">Robots Industries</h1>
    <p>Raspbery Pi, Arduino, Drones, Imprimantes 3D,... n'auront plus de secrets pour vous!</p>
     <a href="#callToAct">
      <div class="button-fill orange">
        <div class="button-text">rejoindre</div>
        <div class="button-inside">
          <div class="inside-text">rejoindre</div>
        </div>
      </div>
      </a>
  </div>

</div>

<div class="container textual" style="margin:0px;width:100%;">

  <div id="work" class="row" style="height:400px;background-color:#FF9800;">
    <h1 style="text-align: center;margin-top:50px">Comment ça marche?</h1>
    <div class=".col-lg-12" style="text-align:center; margin-top:85px">
      <img src="/assets/init.png" class="workshop radius" style="margin-right:178px">
      <img src="/assets/angry.png" class="workshop radius" style="margin-right:60px">
      <img src="/assets/win.png" class="workshop radius" style="margin-left:125px">
    </div>
  </div>
  <div class="row" style="height:300px;background-color:#FF9800;">
    <div class=".col-lg-4">
      <p style="float:left;width:25%;margin-left:172px">Qui n’a jamais entendu parler de drones,d'imprimantes 3D ou encore d’objets connectés?
      Combien d’entre vous se sont déjà questionné sur le fonctionnement et l’utilisation à faire de ces technologies ?</p>
    </div>
    <div class=".col-lg-4">
      <p style="float:left;width:25%;margin-left:50px">Mais surtout, combien d’entre vous ont déjà trouvé une réponse satisfaisante à ces questions ?</p>
    </div>
    <div class=".col-lg-4">
      <p style="float:right;width:25%;margin-right:100px">L'ouverture, prochaine, d'un espace spécialement dédié à l’apprentissage et à la vulgarisation de ces nouvelles technologies. Notre objectif ? Vous donnez l’irrésistible envie de mettre les mains dans le cambouis ! Vous allez aimer triturer, tester, crée à l’aide de vos Arduino, Raspberry Pi et imprimantes 3D</p>
    </div>
  </div>




  <div id="BeBot" class="row" style="height:530px;">
    <h1 style="text-align: center;margin-top:50px">Robot Industries</h1>
    <div class="col-lg-12" style="text-align: center;padding:102px;">
    <p>Un espace au sein d'un incubateur de start-up afin de vous plonger au cœur de l’esprit innovations et nouvelles technologies. Un espace d’accueil chaleureux, proche de chez vous et où vous trouverez une réponse à toutes vos questions.

    Vous pourrez observer, utiliser, apprendre, questionner et surtout trouver tous les produits et les diverses informations nécessaires à votre nouvel hobby favoris.</p>
    </div>

  </div>
  <div id="contact" class="row" style="height:300px;background-color:#8f8574;text-align: center;">
    <h1 style="margin-top:50px">Donnez votre avis</h1>
    <p>Nous voudrions connaitre au mieux vos attentes de future Makers, afin de vous servir dans les meilleures consitions.</p>
    <a href="http://goo.gl/forms/bOmAezE5MT">
      <div class="button-fill orange">
        <div class="button-text">Questionnaire</div>
        <div class="button-inside">
          <div class="inside-text">Questionnaire</div>
        </div>
      </div>
      </a>
  </div>
  <div id="callToAct" class="row" style="text-align:center;height:300px;margin-top:135px;">
    <h3>Faite partie de la prochaine session</h3>
    <p>Laissez-nous votre email pour suivre l'évolution du projet et recevoir toutes les informations utiles.</p>
    <div class=".col-lg-4" style="margin-left:20%;margin-right:20%;">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
      </div>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div class=".col-lg-4">
      <a href="#"><i class="fa fa-twitter fa-5x" style="margin-right:38px;"></i></a>
      <a href="#"><i class="fa fa-facebook fa-5x"></i></a>
    </div>
  </div>
</div>





